@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

body {
    background-color: #424242;
    font-family: 'Lemonada';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: teal;
    position: relative;
    height: 40px;
}

.h1-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #fafafa;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: tomato;
}

.li-menu {
    font-size: 16px;
    padding: 3px;
    margin: 3px 10px;
}

.li-menu:hover {
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*margin-right: 60%;*/
    flex-wrap: nowrap;
}

.img-menu {
    display: none;
}

/*----------------------------
        @MEDIA TABLET
----------------------------*/
@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: greenyellow;
    }
    
    h1 {
        font-size: 32px;
        color: #424242;
    }
    
}

/*----------------------------
        @MEDIA CELULAR
----------------------------*/
@media (max-width: 599px) {
    body {
        background-color: orangered;
    }
    
    h1 {
        font-size: 24px;
        color: yellowgreen;
    }

    .ul-menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .img-menu {
        display: inline-block;
        width: 30px;
        padding: 5px;
        margin: 3px 20px 0 10px;
    }
}

