@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Lemonada';
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: #fafafa;
}

/*----------------------------
        @MEDIA TABLET
----------------------------*/
@media (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: greenyellow;
    }
    
    h1 {
        font-size: 32px;
        color: #424242;
    }
    
}

/*----------------------------
        @MEDIA CELULAR
----------------------------*/
@media (max-width: 599px) {
    body {
        background-color: orangered;
    }
    
    h1 {
        font-size: 24px;
        color: yellowgreen;
    }
}
